{% extends "admin/layout.html" %}
{% block content %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line animate__animated animate__backInLeft">Resumenes</h1>
                </h1>
            </div>
        </div>
        <div class="row" style="padding-bottom: 100px;">
            <div class="col-md-6">
                <div id="comments-sec">
                    <h4><strong>Productos </strong></h4>
                    <hr />
                    <table class="table table-bordered table-hover" id="myTable">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in producto %}
                            <tr>
                                <td>
                                    {{producto.id_producto}}
                                </td>
                                <td>
                                    {{producto.nombre}}
                                </td>
                                <td class="cantidad">
                                    {{producto.cantidad}}
                                </td>
                                <td class="stock">
                                    <p></p>
                                </td>
                            </tr>
                            </form>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-6">
                <div class="panel  noti-box">
                    <canvas id="myDoughnutChart"></canvas>
                </div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 100px;">
            <div class="col-md-6">
                <div id="comments-sec">
                    <h4><strong>Ventas Individuales </strong></h4>
                    <hr />
                    <table class="table table-bordered table-hover" id="myTable2">
                        <thead>
                            <tr>
                                <th>Codigo venta</th>
                                <th>Fecha de la venta</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for venta in venta %}
                            <tr>
                                <td>
                                    {{venta.id_venta}}
                                </td>
                                <td>
                                    {{venta.fecha}}
                                </td>
                                <td>
                                    {{venta.productos[0].total}}
                                </td>
                            </tr>
                            </form>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-6">
                <div class="panel  noti-box">
                    <canvas id="myDoughnutChart2"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    // Extraer los datos de la tabla productos
    const table2 = document.getElementById('myTable');
    const rows = table2.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
    const labels = [];
    const data = [];

    for (let i = 0; i < rows.length; i++) {
        const cells = rows[i].getElementsByTagName('td');
        labels.push(cells[1].innerText); // Nombre del producto
        data.push(parseInt(cells[2].innerText)); // Cantidad del producto
    }

    // Configurar el gráfico de tipo "dona"
    const ctx = document.getElementById('myDoughnutChart').getContext('2d');
    const myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: labels,
            datasets: [{
                label: 'Cantidad de Productos',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Productos'
                }
            }
        }
    });
</script>


<script>
    // Extraer los datos de la tabla ventas para mostrar los datos
    // Extraer los datos de la tabla de ventas
    const table3 = document.getElementById('myTable2');
    const rows2 = table3.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
    const labels2 = []; // Fechas de las ventas
    const data2 = [];   // Totales de las ventas

    for (let i = 0; i < rows2.length; i++) {
        const cells2 = rows2[i].getElementsByTagName('td');
        labels2.push(cells2[1].innerText); // Fecha de la venta
        data2.push(parseInt(cells2[2].innerText)); // Total de la venta
    }

    // Configurar el gráfico de tipo "dona" para ventas
    const ctx2 = document.getElementById('myDoughnutChart2').getContext('2d');
    const myDoughnutChart2 = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: labels2, // Usar labels2 (fechas de ventas)
            datasets: [{
                label: 'Total de Ventas',
                data: data2, // Usar data2 (totales de ventas)
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Ventas Individuales'
                }
            }
        }
    });

</script>


<script>
    $('#myTable').DataTable({
        "language": {
            "url": "/static/assets/js/Spanish.json"
        }
    });
    var table = $('#myTable').DataTable();

    $('#myTable2').DataTable({
        "language": {
            "url": "/static/assets/js/Spanish.json"
        }
    });
    var table = $('#myTable2').DataTable();

    $(document).ready(function () {


    });

    // Lo que esta utilizando es el evento DRAW que ayuda a que el DOM se pueda visualizar en todos los datos

    document.addEventListener('DOMContentLoaded', function () {
        const table = $('#myTable').DataTable();

        // Función para actualizar el texto de "Bajo Stock"
        function updateStockText() {
            const filas = document.querySelectorAll('#myTable tbody tr');

            filas.forEach(fila => {
                const cantidad = fila.querySelector('.cantidad').innerText.trim();
                const stock = fila.querySelector('.stock p');

                if (cantidad === '0') {
                    stock.innerText = 'Bajo Stock';
                }
            });
        }

        // Ejecutar la función inicialmente
        updateStockText();

        // Ejecutar la función cada vez que la tabla se redibuje
        table.on('draw', function () {
            updateStockText();
        });
    });

</script>


{% endblock %}