{% extends "admin/layout.html" %}
{% block content %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line animate__animated animate__backInLeft">Visualizar Venta</h1>
                </h1>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" style="background-color: #00CA79;">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <div class="animate__animated animate__backInLeft">
            <!-- /. ROW  -->
            <table class="table table-bordered table-hover" id="myTable">
                <thead>
                    <tr>
                        <th>Id venta</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in venta %}
                    <tr>
                        <td>
                            {{ venta.id_venta }}
                        </td>
                        <td>
                            {{ venta.fecha }}
                        </td>
                        <td>
                            <a href="{{ url_for('venta.v_cliente', id=venta._id) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-file-earmark-bar-graph-fill" viewBox="0 0 16 16">
                                <path
                                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m.5 10v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5m-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5z" />
                            </svg>
                        </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('#myTable').DataTable({
            "language": {
                "url": "/static/assets/js/Spanish.json"
            }
        });
        var table = $('#myTable').DataTable();
</script>
{% endblock %}