{% extends "user/layout.html" %}
{% block content %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line animate__animated animate__backInLeft">Ingresar Venta</h1>
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="col-md-12 col-sm-12 col-xs-12">
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Llenar el formulario
                </div>
                <div class="panel-body animate__animated animate__backInLeft">
                    <form action="/user/in_venta" role="form" method="post" id="dynamic-form">
                        <div class="form-group">
                            <label>Nombre del cliente</label>
                            <input class="form-control nombre" name="n_cliente" type="text" readonly required>
                        </div>
                        <div class="form-group" hidden>
                            <label>Apellido</label>
                            <input class="form-control apellido" name="n_apellido" type="text" required>
                        </div>
                        <div class="form-group" hidden>
                            <label>Direccion</label>
                            <input class="form-control direccion" name="direccion" type="text">
                        </div>
                        <div class="form-group">
                            <label>cedula</label>
                            <input class="form-control cedula" name="cedula" type="text" readonly required>
                        </div>
                        <div>
                            <button type="button" class="but1" style="background-color: #D1574E; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;" >
                                🧑🏼‍🤝‍🧑🏼 Cargar cliente</button>
                            
                            
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Fecha</label>
                            <input class="form-control" id="fecha" name="fecha" type="date" required>
                        </div>
                        <div class="form-group">
                            <label>Hora</label>
                            <input class="form-control" name="hora"  id="hora" type="time" readonly>
                        </div>
                        <!-- Esta parte del codigo es para crear varios inputs -->

                        <!-- Esta parte del codigo es para crear varios inputs -->
                        <div id="product-section-wrapper" style="max-height: 300px; overflow-y: auto;">
                            <div id="product-section" class="row">
                                <div class="col-md-3">
                                    <div class="form-group" hidden>
                                        <label>Producto</label>
                                        <input class="form-control p_nombre" name="n_productos" type="text" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" hidden>
                                        <label>Id_producto</label>
                                        <input class="form-control id_producto" name="id_producto" type="text" >
                                    </div>
                                </div>

                                <div class="col-md-3" hidden>
                                    <div class="form-group product-section">
                                        <label>Color</label>
                                        <input class="form-control color" name="color" type="text"  >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" hidden>
                                        <label>BD</label>
                                        <input class="form-control cantidad" name="can" type="number" >
                                    </div>
                                </div>
                                <div class="col-md-3" hidden>
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input class="form-control" name="cantidad" type="number" >
                                    </div>
                                </div>
                                <div class="col-md-3" hidden>
                                    <div class="form-group">
                                        <label>Precio</label>
                                        <input class="form-control precio" name="precio" type="number" >
                                    </div>
                                </div>
                                <div class="col-md-3" hidden>
                                    <div class="form-group">
                                        <label>Resultado</label>
                                        <input class="form-control" name="resultado" type="number" >
                                    </div>
                                </div>
                                <div class="col-md-3" hidden>
                                    <button type="button" class="btn btn-danger delete-product">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary but2">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Aqui termina el codigo  -->

                        <!-- Aqui termina el codigo  -->

                        <br>
                        <div class="form-group">
                            <label>Total</label>
                            <input class="form-control" name="total" type="number" readonly>
                        </div>
                        <div class="form-group" hidden>
                            <label>Usuario</label>
                            <input class="form-control" name="usuario" type="text" value="{{ usuario }}" readonly>
                        </div>

                        <button type="button" style="background-color: #5CB85C; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;" id="add-product-btn"><i
                                class="glyphicon glyphicon-plus"></i> Añadir</button>
                        <button type="submit" style="background-color: #428BCA; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">📦 Guardar</button>
                        
                    </form>
                    <br>
                    {% if session.username and not is_admin %}
                    <form action="{{ url_for('cerrar_caja') }}" method="post">
                        <button type="submit" style="background-color: red; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;"> 🔒 Cerrar caja</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--/.ROW-->
    </div>
    <!-- /. PAGE INNER  -->
</div>

<div class="mosecliente">
    <table class="table table-bordered table-hover" id="myTable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Direccion</th>
                <th>Selector</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in cliente %}
            <tr>
                <td class="valor1">
                    {{ cliente.nombre }}
                </td>
                <td class="valor2">
                    {{ cliente.apellido }}
                </td>
                <td class="valor3">
                    {{ cliente.cedula }}
                </td>
                <td class="valor4">
                    {{ cliente.direccion }}
                </td>
                <td>
                    <button type="button">Seleccionar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="moseproducto">
    <table class="table table-bordered table-hover" id="myTable2">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre producto</th>
                <th>Color</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Selector</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in producto %}
            <tr>
                <td class="var1">
                    {{producto.id_producto}}
                </td>
                <td class="var2">
                    {{producto.nombre}}
                </td>
                <td class="var3">
                    {{producto.color}}
                </td>
                <td class="var4">
                    {{producto.cantidad}}
                </td>
                <td class="var5">
                    {{producto.precio}}
                </td>
                <td>
                    <button type="button">Seleccionar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    // Obtener el elemento del campo de hora por su ID
    const horaInput = document.getElementById('hora');

    // Crear una función para obtener la hora actual en formato HH:MM
    function setHoraActual() {
        const ahora = new Date();
        const horas = ahora.getHours().toString().padStart(2, '0');
        const minutos = ahora.getMinutes().toString().padStart(2, '0');
        const horaActual = `${horas}:${minutos}`;
        
        // Asignar la hora actual al campo de entrada
        horaInput.value = horaActual;
    }

    // Llamar a la función cuando cargue la página
    window.onload = setHoraActual;
</script>

<script>
        $(document).ready(function() {
    // Obtener la fecha actual de la persona 
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //Enero es 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("fecha").setAttribute("min", today);
    document.getElementById("fecha").setAttribute("max", today);
});
</script>
<script src="/static/assets/js/admin/in_venta.js"></script>
{% endblock %}